<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IotManagerBusiness.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--<appSettings>
		<add key="RF_WIFI_COMPONENTCODE" value="7500"/> --><!--"FROM [BekoLLCSQL].[dbo].[KKI_COMPONENTS] WHERE [STATION]=75"--><!--
		<add key="WM_ELCARD_STATION" value="108"/> --><!--"FROM [BekoLLCSQL].[dbo].[KKI_COMPONENTS] WHERE [STATION]=108"--><!--
		<add key="CONNECTIVITY_CARD_LENGTH" value="72"/>
	</appSettings>-->
 <applicationSettings>
  <IotManagerBusiness.MainSettings>
   <setting name="RF_WIFI_COMPONENTCODE" serializeAs="String">
    <value>7400</value>
   </setting>
   <setting name="WM_ELCARD_STATION" serializeAs="String">
    <value>108</value>
   </setting>
   <setting name="CONNECTIVITY_CARD_LENGTH" serializeAs="String">
    <value>72</value>
   </setting>
  </IotManagerBusiness.MainSettings>
 </applicationSettings>
</configuration>